
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
.Ga{
    text-align: center;
    margin-top: 10px;
    font-family:  "Protest Riot", sans-serif;
    font-size: 70px;
}
.cont{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comt{
    
    border: 2px solid black;
}